<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

	<style>
		h1 {
			font-size: 28px;
			font-weight: bold;
		}

		#app {
			margin-top: 50px;
		}

		#infobox {
			margin-top: 25px;
			margin-left: 4em;
		}

		.list-group {
			margin-top: 25px;
		}
	</style>

	<title>basic-steambot history</title>
</head>
<body>
  <div id="app" class="container">
		<h1>commit history <small>for basic-steambot</small></h1>

		<div class="alert alert-info" v-if="loading">Waiting for GitHub API.</div>
		<div class="alert alert-danger" v-if="error">Error encountered when fetching data: {{ error }}. Retrying in 10 seconds...</div>

		<form class="form-inline">
			<label class="mr-sm-2">Number of commits to load: </label>
			<input v-model="amount" type="text" class="form-control col-1" placeholder="6">
		</form>

		<div class="row">
			<div class="list-group col-5">
				<commit-item v-for="record in commits" :record="record"></commit-item>
			</div>

			<div class="col-5" id="infobox">
				<p>
					Powered by <a href="https://vuejs.org">VueJS</a> and the
					<a href="https://developer.github.com/v3/">Github API</a>. </br>
					Using <a href="https://momentjs.com">MomentJS</a> for timestamps.</a>
				<p>

				<p>CSS by <a href="https://v4-alpha.getbootstrap.com">Bootstrap v4</a>.</p>

				<p>
					I plan to have this be the base for a guide to VueJS in the future,
					but for now it's just nice to look at.
				</p>
			</div>
		</div>
  </div>

	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

	<script src="app.js"></script>
</body>
</html>
